mixin story(story)
  div 
    h4
      a(href=`/stories/${story.id}`)=story.title
    ul 
      li #{story.rating}/5. 
      li #{story.comments} comments. 
      li Posted #{story.createdAt}. 
      li #{story.views} views. 